<html>

<body bgcolor="#212127">

	<head>
		<title>FryLabs.net</title>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=0.8" />
		<style>
			body {
				font: normal 14px Verdana;
				color: #999999;
			}

			td {
				vertical-align: top
			}

			a {
				color: #9999ff;
                text-decoration: none;
			}
		</style>

	</head>

	</p>

	<h2>
      <a>
        <pre>
   ____           __     __      
  / __/_____ __  / /__ _/ /  ___ 
 / _// __/ // / / / _ `/ _ \(_-< 
/_/ /_/  \_, / /_/\_,_/_.__/___/ 
        /___/ 
        </pre>
      </a>
	</h2>
</body>
</html>
