<html>

<body bgcolor="#212127">

	<head>
		<title>Shit uploader</title>
		<meta charset="UTF-8">
		<style>
			body {
				font: normal 14px Verdana;
				color: #999999;
			}

			td {
				vertical-align: top
			}

			textarea {
				font: normal 14px Verdana;
				color: #999999;
				background-color: #212127;
				width: 100%;
				height: 700;
			}

			a {
				color: #9999ff;
			}
		</style>
	</head>

	<form action="/fosuploader" enctype=multipart/form-data method="post">
		<input type="file" name="dasfile" />
		<input type="submit" value="Upload" />
	</form>

</body>

</html>
