
<html>

  <body bgcolor="#212127">

    <head>
      <title><%= fname %></title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=0.6" />
      <style>
        body {
          font: normal 14px Verdana;
          color: #999999;
        }
        video {
          width: 100%
        }
      </style>
    </head>
    <center>
      <h2>
        <%= fname %>
      </h2>
      <img
        id="coverArt"
        style="width:auto; max-height: 100%;"
        src="<%= url + albumArt %>"
        alt=' '
      />
      <audio id="audioPlayer" controls style="width:100%"> 
        <source src="<%= url %><%= path %>?stream=true" type=<%= contentType %>>
      </audio>
    </center>
  </body>
  <script>
    console.log('a')
    document.getElementById('coverArt').style.height = window.innerHeight - 140
  </script>
</html>
