<html>

<body bgcolor="#212127">

	<head>
		<title>No such file/folder</title>
		<meta charset="UTF-8">
		<style>
			body {
				font: normal 14px Verdana;
				color: #999999;
			}

			td {
				vertical-align: top
			}

			textarea {
				font: normal 14px Verdana;
				color: #999999;
				background-color: #212127;
				width: 100%;
				height: 700;
			}

			a {
				color: #9999ff;
			}
			.subtable {
				border-collapse: collapse;
				table-layout:fixed;
				width:100%
			}
			.maintable {
				border-collapse: collapse;
				table-layout:fixed;
				width:100%
				padding:0; margin:0;
				border: none !important;
			}
			tr {
				line-height: 29px;
				width:32%;
			}
			.butt {
				background-color: #212127;
				color: #999999;
				cursor: pointer;
				width: 100%;
				border: none;
				text-align: left;
				outline: none;
				font-size: 13px;
			}

			.active,
			.butt:hover {
				background-color: #555;
			}
		</style>
	</head>
	<center>
      <h1>
        No such file / folder:
        </br>
        <%= missingFile %>
        </br>
        <a href="<%= url %>" > Back to root </a>
        </br>
        <a
          onclick='goBack("<%=missingFile%>")'
          href="#"
          >
          Go back
        </a>
      </h1>
	</center>
</body>
  <script>
    function goBack(path) {
      path = path.replace('./public/files', '')
      if (path[path.length - 1] == '/') {
        path = path.substring(0, path.length -2)
      }
      let p = path.split('/')
      p.pop()
      if (p.length > 1) {
        location.href = p.join('/')
      } else {
        location.href = '/'
      }
    }
  </script>
</html>
