<html>

  <body bgcolor="#212127">

    <head>
      <title><%= fname %></title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=0.6" />
      <style>
        body {
          font: normal 14px Verdana;
          color: #999999;
        }
        video {
          width: 100%
        }
      </style>
    </head>
    <center>
      <h2>
        <%= fname %>
      </h2>
    </center>
    <video id="videoPlayer" controls> 
      <source src="<%= url %><%= path %>?stream=true" type="video/mp4">
    </video>
  </body>
  <script>
    var v = document.getElementsByTagName('video')[0]
    v.style.maxHeight = window.innerHeight - 100
    v.maxWidth = window.innerWidth
    console.log('a')
  </script>
</html>
